nav {
    position: fixed;
    height: 100px;
    width: 95%;
    top: 10px;
    transition: 0.2s;
    z-index: 2;

    .nav-container {
        padding-top: 40px;
        backdrop-filter: blur(5px);
        align-items: center;
        font-family: $barracuda;
        display: flex;
        justify-content: space-between;
        a {
            color: $white;
        }

        h4 {
            font-size: 32px;
            transition: 0.2s;
            &:hover {
                cursor: pointer;
                color: grey;
            }
        }
        ul {
            display: flex;
            li {
                margin-left: 65px;
                font-size: 24px;
                a {
                    transition: 0.2s;

                    &:hover {
                        cursor: pointer;
                        color: grey;
                    }
                }
            }
        }
    }
}
.hero-container {
    margin-top: 200px;
    display: flex;
    margin-bottom: 200px;
    h1 {
        width: 60%;
        font-family: $barracuda;
        font-size: 120px;
        &:after {
            content: url(/asstets/img/svg-deco.svg);
            position: absolute;
            left: -300px;
            top: -100px;
            z-index: -2;
        }
    }
    .presentation {
        width: 40%;
        display: flex;
        flex-direction: column;
        h4 {
            padding: 15px 0;
            font-family: $satoshi;
            font-size: 22px;
            font-weight: bold;
        }
        p {
            font-size: 20px;
            margin: 50px 0;
        }
        .view-project {
            width: 150px;
            padding: 10px 15px;
            font-family: $barracuda;
            font-size: 18px;
        }
    }
}
