nav {
    position: fixed;
    height: 100px;
    width: 95%;
    top: 10px;
    transition: 0.2s;
    z-index: 2;
    left: 20px;
    right: 20px;
    margin: 0 auto;
    @media screen and (max-width: 1023px) {
        left: 0;
        width: 100%;
    }

    .nav-container {
        padding-top: 40px;
        backdrop-filter: blur(5px);
        align-items: center;
        font-family: $barracuda;
        display: flex;
        justify-content: space-between;
        a {
            color: $white;
        }

        h4 {
            font-size: 32px;
            transition: 0.2s;
            z-index: 2;
            @media screen and (max-width: 1023px) {
                padding-left: 20px;
            }
            &:hover {
                cursor: pointer;
                color: grey;
            }
        }
        ul {
            display: flex;
            transition: 0.2s;
            @media screen and (max-width: 1023px) {
                display: none;
            }
            li {
                margin-left: 65px;
                font-size: 24px;
                a {
                    transition: 0.2s;

                    &:hover {
                        cursor: pointer;
                        color: grey;
                    }
                }
            }
        }
        ul.active {
            transform: translateY(0);
            position: absolute;
            top: 0;
            height: 0;
            width: 0;
            display: flex;
            background: rgb(0, 0, 0);
            align-items: center;
            justify-content: center;
            flex-direction: column;
            li {
                margin-bottom: 50px;
                margin-left: 0;
                font-size: 30px;
            }
        }

        #btn {
            display: block;
            position: fixed;
            top: 40px;
            right: 30px;
            transition: 0.3s;
            span {
                height: 5px;
                width: 30px;
                background: white;
                display: flex;
                margin-top: 5px;
                transition: 0.3s ease;
            }
            @media screen and (min-width: 1023px) {
                display: none;
            }
        }
        #btn.active {
            span {
                background: white;
                position: absolute;
                right: 0;

                &:nth-child(1) {
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.hero-container {
    padding: 200px 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
    @media screen and (max-width: 757px) {
        flex-direction: column;
        align-items: start;
        padding: 100px 0;
    }

    h1 {
        font-family: $barracuda;
        font-size: 160px;
        @media screen and (max-width: 967px) {
            font-size: 130px;
        }
        @media screen and (max-width: 537px) {
            font-size: 100px;
        }
        @media screen and (max-width: 450px) {
            font-size: 80px;
        }
        @media screen and (max-width: 757px) {
            margin-bottom: 40px;
        }
    }
    h3 {
        font-family: $barracuda;
        font-size: 64px;
        margin-right: 50px;
        margin-bottom: -50px;
        text-align: right;
        padding-left: 50px;
        @media screen and (max-width: 967px) {
            font-size: 50px;
        }
        @media screen and (max-width: 537px) {
            font-size: 30px;
        }
        @media screen and (max-width: 450px) {
            font-size: 25px;
        }
        @media screen and (max-width: 757px) {
            margin-left: auto;
        }

        &:after {
            content: url(/asstets/img/svg-deco.svg);
            position: absolute;
            right: 0;
            top: 100px;
            z-index: -2;
        }
    }
}
