main {
    padding: 0 60px;
    .about-me {
        margin-top: 200px;
        h2 {
            margin-bottom: 40px;
        }
        .about-me-container {
            display: flex;
            justify-content: space-between;
            .img-container {
                width: 50%;
                display: flex;

                justify-content: left;

                img {
                    width: 50%;
                    height: 85%;
                    object-fit: cover;
                }
            }
            p {
                width: 50%;
            }
        }
    }
    .projects {
        margin-top: 200px;
        h2 {
            position: relative;
            &:after {
                content: url(/asstets/img/svg-deco.svg);
                position: absolute;
                left: -450px;
                top: -400px;
                z-index: -2;
            }
        }

        p {
            margin-top: 50px;
            margin-bottom: 100px;
        }
        .projects-container {
            display: grid;
            grid-template-columns: 50% 50%;
            justify-items: center;
        }
        .project {
            display: flex;
            flex-direction: column;

            // margin-right: 90px;
            margin-bottom: 80px;
            h5 {
                font-family: $barracuda;
                font-size: 32px;
                margin-bottom: 10px;
            }

            .img-container {
                width: 500px;
                height: 281px;
                margin-bottom: 15px;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        #other-project {
            padding: 15px;
            font-family: $barracuda;
            font-size: 18px;
            background: $white;
            border: none;
            align-items: center;
            display: block;
            margin: 0 auto;
        }
    }
    .skills {
        margin-top: 200px;
        h2 {
            position: relative;
            &:after {
                content: url(/asstets/img/svg-deco.svg);
                position: absolute;
                right: -400px;
                top: -500px;
                z-index: -2;
            }
        }
        .all-skills {
            display: flex;
            justify-content: space-between;
            margin: 50px 0;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            #blue {
                background: #0f007d;
            }
            #white {
                background: #fff;
            }
            #orange {
                background: #e94731;
            }
            .skills-container {
                width: 300px;
                height: 300px;
                margin: 50px;
                // background: $white;
                color: $black;
                display: flex;
                flex-direction: column;
                justify-content: center;
                // box-shadow: 0 0 20px 20px rgb(21, 21, 21);
                align-items: center;
                position: relative;

                p {
                    font-family: $barracuda;
                    font-size: 24px;
                    position: absolute;
                }
                .logo-skills {
                    align-items: center;
                    justify-content: center;
                    width: 90%;
                    display: none;
                    flex-wrap: wrap;
                    margin: 30px 30px;

                    img {
                        transition: all 0.3s ease-in-out;
                        margin: 5px 5px;
                    }
                }
            }
        }
    }
    .contact {
        margin-bottom: 200px;
        h2 {
            position: relative;
            &:after {
                content: url(/asstets/img/svg-deco.svg);
                position: absolute;
                left: -400px;
                top: -200px;
                z-index: -2;
            }
        }
        .infos-contact {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            font-family: $barracuda;
            p {
                font-family: $barracuda;
                font-size: 36px;
            }
            ul {
                display: flex;
                li {
                    margin-left: 50px;
                }
            }
        }
    }
}
