nav {
    position: fixed;
    height: 100px;
    width: 95%;
    top: 10px;
    transition: 0.2s;
    z-index: 2;
    display: none;
    @media screen and (max-width: 1300px) {
        display: none;
    }

    .nav-container {
        padding-top: 40px;
        backdrop-filter: blur(5px);
        align-items: center;
        font-family: $barracuda;
        display: flex;
        justify-content: space-between;
        a {
            color: $white;
        }

        h4 {
            font-size: 32px;
            transition: 0.2s;
            &:hover {
                cursor: pointer;
                color: grey;
            }
        }
        ul {
            display: flex;
            li {
                margin-left: 65px;
                font-size: 24px;
                a {
                    transition: 0.2s;

                    &:hover {
                        cursor: pointer;
                        color: grey;
                    }
                }
            }
        }
    }
}
.hero-container {
    padding: 200px 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media screen and (max-width: 900px) {
        flex-direction: column;
        align-items: start;
    }
    h1 {
        font-family: $barracuda;
        font-size: 160px;
        @media screen and (max-width: 1023px) {
            font-size: 130px;
        }
    }
    p {
        width: 50%;
        font-size: 24px;
        margin-bottom: -50px;
        text-align: left;
        @media screen and (max-width: 1171px) {
            font-size: 22px;
        }
        @media screen and (max-width: 900px) {
            margin-left: auto;
        }
        &:after {
            content: url(/asstets/img/svg-deco.svg);
            position: absolute;
            right: -80px;
            top: 0;
            z-index: -2;
        }
    }
}
