@font-face {
  font-family: "barracuda-bold";
  src: url(/asstets/fonts/Barracuda-Bold.ttf);
}
@font-face {
  font-family: "satoshi-regular";
  src: url(/asstets/fonts/Satoshi-Regular.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
}

body {
  padding: 0 60px;
  position: relative;
  background: #000;
  color: #fff;
  overflow-x: hidden;
}
body p {
  font-family: satoshi-regular, sans-serif;
  font-size: 24px;
}
body h2 {
  font-size: 96px;
  font-family: barracuda-bold, serif;
}
body a {
  text-decoration: none;
  color: #fff;
}

nav {
  position: fixed;
  height: 100px;
  width: 95%;
  top: 10px;
  transition: 0.2s;
  z-index: 2;
}
nav .nav-container {
  padding-top: 40px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  align-items: center;
  font-family: barracuda-bold, serif;
  display: flex;
  justify-content: space-between;
}
nav .nav-container h4 {
  font-size: 32px;
  transition: 0.2s;
}
nav .nav-container h4:hover {
  cursor: pointer;
  color: grey;
}
nav .nav-container ul {
  display: flex;
}
nav .nav-container ul li {
  margin-left: 65px;
  font-size: 24px;
  transition: 0.2s;
}
nav .nav-container ul li:hover {
  cursor: pointer;
  color: grey;
}

.hero-container {
  padding: 200px 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.hero-container h1 {
  font-family: barracuda-bold, serif;
  font-size: 160px;
}
.hero-container h3 {
  font-family: barracuda-bold, serif;
  font-size: 64px;
  padding-right: 50px;
  margin-bottom: -50px;
  text-align: right;
  padding-left: 50px;
}
.hero-container h3:after {
  content: url(/asstets/img/svg-deco.svg);
  position: absolute;
  right: 0;
  top: 100px;
  z-index: -2;
}

main {
  padding: 0 60px;
}
main .about-me {
  margin-top: 200px;
}
main .about-me h2 {
  margin-bottom: 40px;
}
main .about-me .about-me-container {
  display: flex;
  justify-content: space-between;
}
main .about-me .about-me-container .img-container {
  width: 50%;
  display: flex;
  justify-content: left;
}
main .about-me .about-me-container .img-container img {
  width: 50%;
  height: 85%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .about-me .about-me-container p {
  width: 50%;
}
main .projects {
  margin-top: 200px;
}
main .projects h2 {
  position: relative;
}
main .projects h2:after {
  content: url(/asstets/img/svg-deco.svg);
  position: absolute;
  left: -450px;
  top: -400px;
  z-index: -2;
}
main .projects p {
  margin-top: 50px;
  margin-bottom: 100px;
}
main .projects .projects-container {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
}
main .projects .project {
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  margin-bottom: 80px;
}
main .projects .project:hover {
  cursor: pointer;
}
main .projects .project h5 {
  font-family: barracuda-bold, serif;
  font-size: 32px;
  margin-bottom: 10px;
}
main .projects .project .img-container {
  width: 500px;
  height: 281px;
  margin-bottom: 15px;
}
main .projects .project .img-container img {
  transition: 0.2s;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
}
main .projects #other-project {
  padding: 15px;
  font-family: barracuda-bold, serif;
  font-size: 18px;
  background: #fff;
  border: none;
  align-items: center;
  display: block;
  margin: 0 auto;
}
main .skills {
  margin-top: 200px;
}
main .skills h2 {
  position: relative;
}
main .skills .all-skills {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
main .skills .all-skills #blue {
  background: #0f007d;
}
main .skills .all-skills #white {
  background: #fff;
}
main .skills .all-skills #orange {
  background: #e94731;
}
main .skills .all-skills .skills-container {
  width: 300px;
  height: 300px;
  margin: 50px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
main .skills .all-skills .skills-container p {
  font-family: barracuda-bold, serif;
  font-size: 24px;
  position: absolute;
}
main .skills .all-skills .skills-container .logo-skills {
  align-items: center;
  justify-content: center;
  width: 90%;
  display: none;
  flex-wrap: wrap;
  margin: 30px 30px;
}
main .skills .all-skills .skills-container .logo-skills img {
  transition: all 0.3s ease-in-out;
  margin: 5px 5px;
}
main .contact {
  margin-bottom: 200px;
}
main .contact h2 {
  position: relative;
}
main .contact h2:after {
  content: url(/asstets/img/svg-deco.svg);
  position: absolute;
  left: -400px;
  top: -200px;
  z-index: -2;
}
main .contact .infos-contact {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  font-family: barracuda-bold, serif;
}
main .contact .infos-contact p {
  font-family: barracuda-bold, serif;
  font-size: 36px;
}
main .contact .infos-contact ul {
  display: flex;
}
main .contact .infos-contact ul li {
  margin-left: 50px;
}

footer {
  background: #fff;
  margin: 0 -120px;
  padding: 0 120px;
  color: #000;
}
footer .main-footer {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 80px 0;
}
footer .main-footer .left-footer {
  font-family: barracuda-bold, serif;
  font-size: 28px;
  width: 80%;
}
footer .main-footer .left-footer ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
footer .main-footer .left-footer ul li {
  transition: 0.2s;
}
footer .main-footer .left-footer ul li:hover {
  cursor: pointer;
  color: rgb(73, 73, 73);
}
footer .main-footer .footer-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .main-footer .footer-contact p {
  font-family: barracuda-bold, serif;
  font-size: 28px;
}
footer .main-footer .footer-contact ul {
  margin-left: 30px;
  margin-bottom: 0;
  width: 50%;
}
footer .main-footer .footer-contact img {
  width: 70%;
}
footer .under-footer {
  border-top: 1px solid #000;
  margin: 0 -120px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .under-footer #legal {
  width: 250px;
  margin-bottom: 20px;
  padding: 10px 15px;
  font-family: barracuda-bold, serif;
  font-size: 24px;
  background: #fff;
  border: 1px solid #000;
}
footer .under-footer p {
  font-family: satoshi-regular, sans-serif;
  font-weight: bold;
}/*# sourceMappingURL=index.css.map */